div#text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000000;
	text-align: justify;
}

div#img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.Box {
	display: block;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
